#banner-box {
  background-image: url('../images/banner-1.jpg');
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 80px;

  .fuzzy {
    @include backgroundShadow;
    background: rgba(0, 0, 0, 0.35);
  }
}
.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #{&}__heading {
    color: #fff;
    text-transform: capitalize;
    font-weight: weight(bold);
    margin-bottom: 20px;
    font-size: 28px;
    text-shadow: 2px 2px 4px #333;
  }
  #{&}__designation {
    color: #fff;
    font-size: 24px;
    font-weight: weight(bold);
    text-transform: capitalize;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #333;
  }
  #{&}__text {
    color: #f2f2f2;
    font-size: 16px;
    font-weight: weight(medium);
    text-align: center;
    width: 40%;
    line-height: 1.5;
  }
}
