// ============ Responsive Navbar ===============

@include mobileNav {
  .container {
    width: 100%;
  }

  nav {
    .main {
      @include mx-15;

      .nav-item {
        position: absolute;
        right: 0;
        top: 54px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: $gray;
        border-top: 1px solid #ccc;
        transform: translateY(-120%);

        li {
          margin: 12px 0px;
        }
      }

      #nav-Btn1,
      #nav-Btn2 {
        display: block;
        -webkit-animation: bounce 2s linear infinite;
        animation: bounce 2s linear infinite;
      }
    }
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

// ========= [ Width: less then 768px] ==========
@include lessMd {
  // =====
  .portfolio-menu {
    @include mx-15;

    .portfolio {
      .portfolio__item {
        width: 100%;
      }
    }
  }
  //   ======
  .services {
    @include mx-15;

    .services__box {
      width: 100%;
    }
  }
  //   ========
  .banner {
    .banner__heading {
      font-size: 24px;
    }
    .banner__designation {
      font-size: 20px;
    }
    #{&}__text {
      width: 85%;
    }
  }
  //   =========
  .about {
    @include mx-15;
    flex-direction: column;

    #{&}__img {
      width: 100%;
      margin: 25px 0px;
    }

    #{&}__details {
      width: 100%;
      padding: 15px;
      box-shadow: 0px 0px 10px 5px #f2f2fc;

      .heading-2 {
        display: none;
      }

      p {
        margin-bottom: 14px;
      }
    }
  }
  //   ======
}
// ========= [ Width: up to 768px] ==========
@include md {
  // ======
  .portfolio-menu {
    @include mx-15;

    .portfolio {
      .portfolio__item {
        width: 48%;
      }
    }
  }
  //   ======
  .services {
    @include mx-15;

    .services__box {
      width: 48%;
    }
  }
  //   =======
  .about {
    @include mx-15;
    flex-direction: column;

    #{&}__img {
      width: 100%;
      margin: 25px 0px;
    }

    #{&}__details {
      width: 100%;
      padding: 15px;
      box-shadow: 0px 0px 10px 5px #f2f2fc;

      .heading-2 {
        display: none;
      }
      p {
        margin-bottom: 14px;
      }
    }
  }
}

// ========= [ Width: up to 992px] ==========
@include lg {
  .container {
    width: 95%;
  }
  // ========
  nav {
    .main {
      .nav-item {
        display: flex;
      }
      .nav-icon {
        display: none;
      }
    }
  }
  // ========
  .portfolio-menu {
    margin: 0px 0px;
    .portfolio {
      .portfolio__item {
        width: 32%;
      }
    }
  }

  //   ======
  .services {
    margin: 0px 0px;

    .services__box {
      width: 32%;
    }
  }
  //   ========
  .about {
    margin: 0px 0px;
    flex-direction: row;
    .heading-1 {
      display: none;
    }

    #{&}__img {
      width: 48%;
      margin: 0px 0px;
    }

    #{&}__details {
      width: 48%;
      padding: 0;
      box-shadow: none;

      .heading-2 {
        display: block;
      }
    }
  }
}

// ========= [ Width: up to 1200px] ==========
@include xl {
  .container {
    width: 70%;
  }
}
