.servies-menu {
  padding: 60px 0px 50px;

  h1 {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: weight(bold);
    margin-bottom: 40px;
    color: $heading;

    span {
      color: $lightRed;
    }
  }
  .services {
    justify-content: space-between;
    flex-wrap: wrap;

    .services__box {
      padding: 20px;
      background: transparent;
      border: 1px solid transparent;
      border-radius: 4px;
      margin-bottom: 20px;
      transition: all 0.3s;
      box-shadow: 0px 0px 10px 5px #f2f2fc;

      i {
        font-size: 55px;
        color: $heading;
        display: block;
        text-align: center;
        margin-bottom: 20px;
        transition: all 0.3s;
      }
      h3 {
        text-align: center;
        color: $heading;
        margin-bottom: 15px;
        text-transform: capitalize;
        font-weight: weight(bold);
        transition: all 0.3s;
      }
      .desh {
        background: $lightRed;
        width: 15%;
        margin: 0 auto;
        height: 4px;
        border-radius: 6px;
        margin-bottom: 15px;
      }
      p {
        text-align: center;
        color: $para;
        line-height: 1.5;
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: weight(regular);
      }
      .services__box__link {
        width: 100%;
        text-align: center !important;
        margin-bottom: 10px;

        a {
          width: 100%;
          font-size: 14px;
          font-weight: weight(medium);
          margin: 0 auto;
          padding: 8px 22px;
          border-radius: 4px;
          color: $lightRed;
          border: 2px solid $lightRed;
          background: transparent;
          text-transform: capitalize;
          text-decoration: none;
          transition: all 0.3s;

          &:hover {
            background: $lightRed;
            color: #fff;
          }
        }
      }
      &:hover h3,
      &:hover i {
        color: $lightRed;
      }
      &:hover {
        box-shadow: 0px 0px 10px 8px #eaeafa;
      }
    }
  }
  .services__bottom {
    margin: 80px 0px 60px;
    text-align: center !important;
    p {
      font-size: 20px;
      color: $heading;
      text-transform: capitalize;
      font-weight: weight(bold);
      margin-bottom: 20px;

      span {
        color: $lightRed;
      }
    }

    a {
      display: inline-block;
      margin: 0 auto;
      background: $lightRed;
      color: #fff;
      border: 2px solid $lightRed;
      border-radius: 5px;
      padding: 8px 25px;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      font-weight: weight(bold);
      transition: all 0.3s;

      &:hover {
        background: transparent;
        color: $lightRed;
      }
    }
  }
}
