@mixin mx-15 {
  margin-left: 10px;
  margin-right: 10px;
}

@mixin mx-none {
  margin-left: 0;
  margin-right: 0;
}

@mixin backgroundShadow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
