// ============ Responsive Navbar Start ===============
// ===== [ Width: less then 992px] =====
@include mobileNav {
  nav {
    .container {
      width: 100% !important;
    }
  }

  nav {
    .main {
      @include mx-10;
      .nav-item {
        position: absolute;
        width: 100%;
        right: 0;
        top: 65px;
        flex-direction: column;
        align-items: center;
        background: $gray;
        border-top: 1px solid #ccc;
        transform: translateY(-125%);

        li {
          margin: 12px 0px;
        }
      }

      #nav-Btn1,
      #nav-Btn2 {
        display: block;
        -webkit-animation: bounce 2s linear infinite;
        animation: bounce 2s linear infinite;
      }
    }
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
// ============ Responsive Navbar End ===============

// ========= [ Width: less then 768px] ==========
@include lessMd {
  //   ========
  .banner {
    .banner__heading {
      font-size: 24px;
    }
    .banner__designation {
      font-size: 20px;
    }
    #{&}__text {
      width: 85%;
    }
  }
  //   =========
  .about {
    @include mx-10;
    flex-direction: column;

    #{&}__img {
      width: 100%;
      margin: 25px 0px;
    }

    #{&}__details {
      width: 100%;
      padding: 15px;
      box-shadow: 0px 0px 10px 5px #f2f2fc;

      .heading-2 {
        display: none;
      }

      p {
        margin-bottom: 14px;
      }
    }
  }
  //   ======
  .services {
    @include mx-10;

    .services__box {
      width: 100%;
    }
  }
  // =====
  .portfolio-menu {
    @include mx-10;

    .portfolio {
      .portfolio__item {
        width: 100%;
      }
    }
  }
  //   ======
  .contactus {
    margin: 50px 0px 20px;

    .contact {
      @include mx-10;
      flex-direction: column;

      .contact__box {
        width: 100%;
        margin-bottom: 25px;

        i {
          font-size: 30px;
        }
      }
    }
  }

  // ========
  form {
    @include mx-10;

    .form__part1 {
      input {
        width: 100%;
      }
    }
  }

  // ============
  footer {
    .footer {
      @include mx-10;
    }
  }
}

// ========= [ Width: up to 768px] ==========
@include md {
  //   =======
  .about {
    @include mx-10;
    flex-direction: column;

    #{&}__img {
      width: 100%;
      margin: 25px 0px;
    }

    #{&}__details {
      width: 100%;
      padding: 15px;
      box-shadow: 0px 0px 10px 5px #f2f2fc;

      .heading-2 {
        display: none;
      }
      p {
        margin-bottom: 14px;
      }
    }
  }
  //   ======
  .services {
    @include mx-10;

    .services__box {
      width: 48%;
    }
  }
  // ======
  .portfolio-menu {
    @include mx-10;

    .portfolio {
      .portfolio__item {
        width: 48%;
      }
    }
  }
  //   ======
  .contact {
    @include mx-10;
    flex-direction: row;
    flex-wrap: wrap;

    .contact__box {
      width: 32%;
      margin-bottom: 20px;

      i {
        font-size: 35px;
      }
    }
  }
  form {
    .form__part1 {
      display: flex;
    }
  }
  // ============
  footer {
    .footer {
      @include mx-10;
    }
  }
}

// ========= [ Width: up to 992px] ==========
@include lg {
  .container {
    width: 95%;
  }
  // ==== Navbar ====
  nav {
    .main {
      .nav-item {
        display: flex;
      }
      .nav-icon {
        display: none;
      }
    }
  }
  // ===== About ====
  .about {
    @include mx-none;
    flex-direction: row;
    .heading-1 {
      display: none;
    }

    #{&}__img {
      width: 48%;
      margin: 0px 0px;
    }

    #{&}__details {
      width: 48%;
      padding: 0;
      box-shadow: none;

      .heading-2 {
        display: block;
      }
    }
  }
  // ===== services =====
  .services {
    @include mx-none;

    .services__box {
      width: 32%;
    }
  }
  // ==== portfolio ====
  .portfolio-menu {
    @include mx-none;
    .portfolio {
      .portfolio__item {
        width: 32%;
      }
    }
  }
  //   ===== Contact Us ====
  .contact,
  form {
    @include mx-none;
  }
  //   ===== Footer ======
  footer {
    .footer {
      @include mx-none;
    }
  }
}

// ========= [ Width: up to 1200px] ==========
@include xl {
  .container {
    width: 70%;
  }
}
